@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .task-input {
    transition: all 0.4s;
    z-index: 1;
  }
  .task-input:focus {
    box-shadow: 0 0 10px 100vw rgba(0, 0, 0, 0.7);
    outline: none;
  }
}
